<div id="exRelevantData">
    <div id="clickDetails" class="row">
        <div class="col s12">
            <table id="tableClickDetails" class="highlight">
                <thead>
                    <tr>
                        <th> 
                            <a class="btn-floating help-button blue center tooltipped" data-position="top" data-delay="50" data-tooltip="{{ content["textos"]["ms_descripcionElemento"]}}">?</a>
                            <span>{{ content["textos"]["ms_textoElemento"]}}</span>
                        </th>
                        <th> 
                            <a class="btn-floating help-button blue center tooltipped" data-position="top" data-delay="50" data-tooltip="{{ content["textos"]["ms_descripcionCantidadClics"]}}">?</a>
                            <span>{{ content["textos"]["ms_textoCantidadClics"]}}</span>
                        </th>
                        <th> 
                            <a class="btn-floating help-button blue center tooltipped" data-position="top" data-delay="50" data-tooltip="{{ content["textos"]["ms_descripcionPersonasClic"]}}">?</a>
                            <span>{{ content["textos"]["ms_textoPersonasClic"]}}</span>
                        </th>
                        <th> 
                            <a class="btn-floating help-button blue center tooltipped" data-position="top" data-delay="50" data-tooltip="{{ content["textos"]["ms_descripcionClicAnonimo"]}}">?</a>
                            <span>{{ content["textos"]["ms_textoClicAnonimo"]}}</span>
                        </th>
                        <th> 
                            <a class="btn-floating help-button blue center tooltipped" data-position="top" data-delay="50" data-tooltip="{{ content["textos"]["ms_descripcionClicRegistrados"]}}">?</a>
                            <span>{{ content["textos"]["ms_textoClicRegistrados"]}}</span>
                        </th>
                    </tr>         
                </thead>
                <tbody id="tableClickDetails_body">                        
                </tbody>
            </table>
        </div>
    </div>
</div>
