{% extends 'StatLinkEstadisticaBundle::base_estadistica.html.twig' %}
{% set ruta_asset = 'resources/StatLink/EstadisticaBundle/' %}
{% block title %}{{content['section_text']['sl_tituloCampania']}}{% endblock %}

{% block chartTitle %}{{ content['breadcrumb'][0]['Modulo_' ~ lang|upper] }}: {{content['section_text']['sl_tituloCampania']}}{% endblock %}

{% block table %}
    <thead>
    <th>{{content['section_text']['sl_tablaIndice']}}</th>
    <th>{{content['section_text']['sl_tablaClaveCampania']}}</th>
    <th>{{content['section_text']['sl_tablaDescripcion']}}</th>
    <th>{{content['section_text']['sl_tablaRegistrados']}}</th>
</thead>
<tbody>
    {% for record in content['result'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ record['Cupon'] }}</td>
            <td>{{ record['Descripcion'] }}</td>
            <td>{{ record['Preregistro'] }}</td>
        </tr>
    {% endfor %}  
<div id="modal_perfil" class="modal bottom-sheet">
    <div class="modal-head" style="margin-top: 15px; margin-left: 15px">    
        <h4>Perfil Visitante</h4>
    </div>
    <div class="modal-content tab col s2" >   
        <div class="row" id="graficas" id="graficas">   
        </div>
    </div>
    <div class="modal-footer">        
    </div>
</div>
</tbody>
{% endblock %}

{% block textscript %}
    <script>
        var url_lang = "{{asset('js/dataTablesLang/' ~ lang ~ '.json')}}";
        var url_get_stats = "{{ path("visitante_perfil_graficas") }}";
        var data_graph = {{ content['result']|json_encode()|raw }};
        var column_label = "{{content['section_text']['sl_tablaRegistrados']}}";
    </script>
{% endblock %}

{% block actionscript %}
    <script src="{{ asset(ruta_asset ~'js/campania.js') }}"></script>
{% endblock %}
