{% extends '::base_email.html.twig' %}

{% set lang = (content['lang'] is defined and content['lang'] != "") ? content['lang'] : "es" %}
{% set button = "text-decoration: none; color: #fff; background-color: #26a69a; text-align: center; letter-spacing: .5px; cursor: pointer; display: inline-block; line-height: 2em; padding: 0 2rem; vertical-align: middle;" %}
{% set aux_link_desc = "color: #b5b4b4;font-size: .8em;" %}
{% set aux_link = "font-size: .8em; color: #2ab9ff; text-decoration: underline; display: block;" %}
{% set request_date = "color: #b5b4b4;" %}
{% set request_note = "color: red;" %}
{% set url_reset_pass = url('login_reset_password_token', { 'token': content['user']['TokenPassword'], lang:lang }) %}

{% block body %}
    <p>{{content['section_text']['sas_nota2RestablecerContrase単a']}}</p>
    <p><a href="{{ url_reset_pass }}" style="{{ button }}">{{content['section_text']['sas_restablecerMiContrase単a']}}</a></p>
    <p style="{{ aux_link_desc }}">
        {{content['section_text']['sas_nota3RestablecerContrase単a']}}
        <a href="{{ url_reset_pass }}" style="{{ aux_link }}">{{ url_reset_pass }}</a>
    </p>
    <p style="{{ request_date }}">{{content['section_text']['sas_fechaSolicitud']}}: {{ "now"|date("d/m/Y g:ia", "America/Mexico_City") }}.</p>
    <p style="{{ request_note }}">{{content['section_text']['sas_nota4RestablecerContrase単a']}}</p>
{% endblock %}