{% extends '::base_main_dashboard.html.twig' %}

{% set ruta_asset_section = 'resources/LoginBundle/' %}

{% block title %}{{ content['section_text']['sas_restablecerContraseña'] }}{% endblock %}

{% block content %}
    <div class="container">
        <h5 class="wizard-title-step">{{ content['section_text']['sas_cambiarPassword'] }}</h5>
        <div class="card">
            <div class="card-content">
                <form id="frm-restablecer-password" action="{{ path('reset_password') }}" method="post">
                    <div class="row">
                        <div class="col s12 m12 input-field">
                            <input id="Password" 
                                   name="Password"
                                   type="password" 
                                   class="validate" 
                                   >
                            <label for="Password">{{ content['section_text']['sas_nuevoPassword'] }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 input-field">
                            <input id="Password2" 
                                   name="Password2"
                                   type="password" 
                                   class="validate" 
                                   >
                            <label for="Password2">{{ content['section_text']['sas_repetirNuevoPassword'] }}</label>
                        </div>
                    </div>
                    <div class="nav-buttons">
                        <a href="{{ path('logout') }}" class="btn-link waves-effect btn-flat left show-loader-top">{{ content['general_text']['sas_salir'] }}</a>
                        <button type="submit" class="btn waves-effect waves-light green">
                            {{ content['section_text']['sas_restablecer'] }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/additional-methods.js') }}"></script>
    <script type="text/javascript" src="{{ asset(ruta_asset_section ~ 'js/restablecerPassword.js') }}"></script>
{% endblock %}