{% extends '::base_dashboard.html.twig' %}
{% set ruta_asset = 'resources/Empresa/ContratoBundle/' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset(ruta_asset ~ 'css/contrato.css') }}">
{% endblock %}
{% block content %}
    <section>
        {% include 'EmpresaContratoBundle:Contrato:steps.html.twig' %}
        {% include 'EmpresaContratoBundle:Contrato:status.html.twig' %}
        {% include 'EmpresaContratoBundle:Resumen:informacion.html.twig' %}
        {% include 'EmpresaContratoBundle:Resumen:espacio.html.twig' %}
        {#% include 'EmpresaContratoBundle:Resumen:productos.html.twig' %#}
        {# Totales #}
        {#<div class="row">
            <div class="col s12 m12">
                <div class="card-panel">
                    <div class="card-content">
                        <div class="row totales">
                            <div class="col s7 offset-s5 sub">
                                <div class="col s6 lbl-total">
                                    {{content['section_text']['sas_subtotalOpcionPago']}}
                                </div>
                                <div class="col s6">
                                    <input id="SubtotalOpcionPago" name="SubtotalOpcionPago" type="text" class="validate right-align" value="{{content['contrato']['SubtotalOpcionPago']|number_format(2, '.', ',')}}" disabled>
                                </div>
                            </div>
                            <div class="col s7 offset-s5 sub">
                                <div class="col s6 lbl-total">
                                    {{content['section_text']['sas_subtotalCostoAdicional']}}
                                </div>
                                <div class="col s6">
                                    <input id="SubtotalCostoAdicional" name="SubtotalCostoAdicional" type="text" class="validate right-align" value="{{content['contrato']['SubtotalCostoAdicional']|number_format(2, '.', ',')}}" disabled>
                                </div>
                            </div>
                            <div class="col s7 offset-s5 iva">
                                <div class="col s6 lbl-total">
                                    {{content['section_text']['sas_iva']}}
                                </div>
                                <div class="col s6">
                                    <input id="IvaCostoAdicional" name="IvaCostoAdicional" type="text" class="validate right-align" value="{{content['contrato']['IvaTotalContrato']|number_format(2, '.', ',')}}" disabled>
                                </div>
                            </div>
                            <div class="col s7 offset-s5 total">
                                <div class="col s6 lbl-total">
                                    {{content['section_text']['sas_total']}}
                                </div>
                                <div class="col s6">
                                    <input id="TotalCostoAdicional" name="TotalCostoAdicional" type="text" class="validate right-align" value="{{content['contrato']['TotalContrato']|number_format(2, '.', ',')}}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
        <div class="row">
            <div class="col s12">
                <embed id="pdf-viewer" width="100%" height="600px" name="pdf-form" src="{{app.request.getScheme ~ '://' ~ app.request.getHttpHost ~ asset('administrador/contratos/' ~ content['empresa']['idEmpresa'] ~ '_' ~ content['empresa']['DC_NombreComercial'] ~'.pdf')}}" type="application/pdf">
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col s4">
                <a href="{{ path('empresa_empresa_contrato', {'idEmpresa': content['empresa']['idEmpresa']}) }}" class="btn-link waves-effect btn-flat left show-loader-top">{{ content['section_text']['sas_regresarListaContratos'] }}</a>
            </div>
        </div>
        <input type="hidden" id="idEmpresa" value="{{content['empresa']['idEmpresa']}}" />
        <input type="hidden" id="idContrato" value="{{content['contrato']['idContrato']}}" />
        <div class="nav-buttons">
            <a href="{{path('empresa_contrato_espacio', {'idEmpresa': content['empresa']['idEmpresa'], 'idContrato': content['contrato']['idContrato']})}}" class="btn-link waves-effect btn-flat left show-loader-top">{{content['section_text']['sas_atras']}}</a>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var url_save_productos = "{{path('empresa_contrato_productos_guardar')}}";
    </script>
    <script type="text/javascript" src="{{ asset(ruta_asset ~ 'js/productos.js') }}"></script>
    <script type="text/javascript" src="{{ asset(ruta_asset ~ 'js/general.js') }}"></script>
{% endblock %}
