<nav class="container-fluid navbar navbar-default" id="headerOptions" style="padding:10px;">
    {#<span class="tip toggle-layout glyphicon glyphicon-list" title="{{content['textosGenerales']['msapi_list']}}"></span>#}
    <div style="display: inline-block;text-align: center;width: 70%; color: #918585;"><h4>{{content['textosGenerales']['msapi_header_visitors_interaction']}}</h4></div>
</nav>
<div id="slide-list-div-tour">
    <table id="main_visitorsTab" class="hightlight">
        <thead>
            <tr>
                <th>
                     {{ content['textosGenerales']['msapi_records_name'] }}
                </th>
                <th>
                      {{ content['textosGenerales']['msapi_records_telephone'] }}
                </th>
                <th>
                      {{ content['textosGenerales']['msapi_records_email'] }}
                </th>
                <th>
                      {{ content['textosGenerales']['msapi_records_position'] }}
                </th>
                <th>
                     {{ content['textosGenerales']['msapi_records_company'] }}
                </th>
                <th>
                      {{ content['textosGenerales']['msapi_records_address'] }}
                </th>
                <th>
                      {{ content['textosGenerales']['msapi_records_cp'] }}
                </th>  
                <th>
                      {{ content['textosGenerales']['msapi_records_address2'] }}
                </th>
                  <th>
                      {{ content['textosGenerales']['msapi_records_city'] }}
                </th>
                <th>
                     {{ content['textosGenerales']['msapi_records_state'] }}
                </th>
                <th>
                     {{ content['textosGenerales']['msapi_records_country'] }}
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>   
</div>