<style>
    #cover-forms-table_wrapper .dataTables_filter label {
        display: inline-block;
    }

</style>
<div class="col-xs-12 form-list">
    <div class="panel panel-default">
        <div class="navbar-header col-xs-12 panel-heading" style="padding: 2px 5px;">
            <h1 style="margin: 5px;">{{content['textosGenerales']['lb_selecciona_forma']}}</h1>
        </div>
        <div>
        </div>
        <div id="menu" class="panel-body">
            <div  class="col-sm-12 col-md-12 col-lg-12 table-responsive" style="padding-top: 20px;">
                <table class="table table-bordered table-hover" id="cover-forms-table">
                    <thead>
                        <tr>
                            <th>{{content['textosGenerales']['lb_seccion']}}</th>
                            <th>ID</th>
                            <th>{{content['textosGenerales']['lb_forma']}}</th>
                            <th>{{content['textosGenerales']['lb_status_payment']}}</th>
                            <th>{{content['textosGenerales']['lb_Llenado']}}</th>
                            <th>{{content['textosGenerales']['lb_idioma_llenado']}}</th>
                            <th>{{content['textosGenerales']['lb_fech_lim']}}</th>
                            <th>{{content['textosGenerales']['lb_ulitma_mod']}}</th>
                            <th>{{content['textosGenerales']['lb_detalle_forma']}}</th>
                            <th>{{content['textosGenerales']['lb_detalle_forma']}}</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>