<div id="mdl-platform" class="modal modal-s modal-fixed-footer">
    <div class="modal-content">
        <h4>{{content['general_text']['sas_plataforma']}}</h4>
        <div class="modal-body">
            <div class="row">
                <form id="frm-platform">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Prefijo" name="Prefijo" type="text" class="validate" maxlength="30">
                            <label for="Prefijo">{{content['general_text']['sas_prefijo']}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="PlataformaIxpo" name="PlataformaIxpo" type="text" class="validate" maxlength="30">
                            <label for="PlataformaIxpo">{{content['general_text']['sas_nombre']}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="Ruta" name="Ruta" type="text" class="validate" maxlength="30">
                            <label for="Ruta">{{content['general_text']['sas_ruta']}}</label>
                        </div>
                    </div>
                    <input type="hidden" id="id" name="idPlataformaIxpo" value="">
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat left">{{content['general_text']['sas_cancelar']}}</a>
        <button id="save-record" type="button" class="modal-action btn waves-effect waves-green green">{{content['general_text']['sas_guardar']}}</button>
    </div>
</div>
