<div class="navbar white right-align">
    <img src="{{ asset('images/infoexpo.png') }}" alt="&copy; Infoexpo">
</div>  
<div class="not-supported-container">
    <div class="center-align">
        <div class="block-not-supported"><img src="{{ asset('images/sad.png') }}" ></div>
        <div class="block-not-supported"><h3>{{ browser_version['name']}} <b>{{ browser_version['version'] }}</b> no es soportado</h3></div>
        <div class="block-not-supported" style="width: 100%;"><h4>Para utilizar esta página debes actualizar tu navegador</h4></div>
        <div class="block-not-supported" style="width: 100%;">
            <div class="content-browser">
                <div class="browser">
                    <a href="https://www.google.com/intl/es-419/chrome/browser/" target="_blank">
                        <img src="{{ asset('images/navegadores/chrome.png') }}" alt="chrome" title="Descargar" />
                    </a>
                    <br>
                    <a href="https://www.google.com/intl/es-419/chrome/browser/" target="_blank" class="waves-effect waves-teal btn-flat ">
                        Descargar
                    </a>
                </div>
                <div class="browser">
                    <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">
                        <img src="{{ asset('images/navegadores/firefox.png') }}" alt="firefox" title="Descargar" />
                    </a>
                    <br>
                    <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank" class="waves-effect waves-teal btn-flat ">
                        Descargar
                    </a>
                </div>
                <div class="browser">
                    <a href="http://www.opera.com/es-419/" target="_blank">
                        <img src="{{ asset('images/navegadores/opera.png') }}" alt="opera" title="Descargar" />
                    </a>
                    <br>
                    <a href="http://www.opera.com/es-419/" target="_blank" class="waves-effect waves-teal btn-flat ">
                        Descargar
                    </a>
                </div>
                <div class="browser">
                    <a href="http://www.apple.com/mx/safari/" target="_blank">
                        <img src="{{ asset('images/navegadores/safari.png') }}" alt="safari" title="Descargar" />
                    </a>
                    <br>
                    <a href="http://www.apple.com/mx/safari/" target="_blank" class="waves-effect waves-teal btn-flat ">
                        Descargar
                    </a>
                </div>
                <div class="browser">
                    <a href="http://windows.microsoft.com/es-es/internet-explorer/download-ie" target="_blank">
                        <span style="color: #0B8EB4;font-weight: bold;display: inline-block; float: right;">v9+</span>
                        <img src="{{ asset('images/navegadores/ie.png') }}" alt="internet_explorer" title="Descargar" />
                    </a>
                    <br>
                    <a href="http://windows.microsoft.com/es-es/internet-explorer/download-ie" target="_blank" class="waves-effect waves-teal btn-flat ">
                        Descargar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>