{% extends 'ShowDashboardAEAdministracionConfiguracionBundle:Base:baseAdministracion.html.twig' %}
{% set ruta_asset_main_ae = 'resources/ShowDashboard/AE/Administracion/ConfiguracionBundle/' %}
{% set ruta_asset_template = 'resources/ShowDashboard/AE/AdministradorTextos/TemplateBundle/' %}
{% set ruta_asset = 'resources/ShowDashboard/AE/AdministradorTextos/TemplateTextoBundle/' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/dataTables.materialize.css') }}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ asset(ruta_asset_template ~ 'css/template.css') }}"/>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h5>{{ content['section_text']['sas_templateTexto'] }} <b>{{ content['edicion']['Edicion_' ~ lang|upper] }}</b></h5>
        <div class="card">
            <div class="card-content">
                <table id="tbl-template-texto" class="highlight responsive-table">
                    <thead>
                        <tr>
                            <th>{{ content['general_text']['sas_ID'] }}</th>
                            <th class="select-filter">{{ content['section_text']['sas_template'] }}</th>
                            <th>{{ content['section_text']['sas_etiqueta'] }}</th>
                            <th>{{ content['section_text']['sas_textoES'] }}</th>
                            <th>{{ content['section_text']['sas_textoEN'] }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if content['templateTexto'] is defined %}
                            {% for texto in content['templateTexto'] if content['template'][texto['idTemplate']]['Template'] is defined %}
                                <tr>
                                    <td>{{ texto['idTemplateTexto'] }}</td>
                                    <td>{{ content['template'][texto['idTemplate']]['Template'] }}</td>
                                    <td>{{ texto['Etiqueta'] }}</td>
                                    <td>{{ texto['Texto_ES'] }}</td>
                                    <td>{{ texto['Texto_EN'] }}</td>
                                    <td class="right-align">
                                        <i class="material-icons edit-record" id-record="{{ texto['idTemplateTexto'] }}">mode_edit</i>
                                    </td>
                                    <td class="right-align">
                                        <i class="material-icons delete-record" id-record="{{ texto['idTemplateTexto'] }}">delete_forever</i>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="nav-floating-buttons">
            <button type="button" class="btn-floating waves-effect waves-light right green add-record"><i class="material-icons tooltipped" data-tooltip="{{ content['general_text']['sas_nuevo'] }} {{ content['section_text']['sas_template'] }}">add</i></button>
        </div>
    </div>

    {% include 'ShowDashboardAEAdministradorTextosTemplateTextoBundle:TemplateTexto:showFormTemplateTexto.html.twig' %}

    <div id="modal-delete-template-texto" class="modal">
        <form id="frm-template-texto-eliminar" action="{{ path('show_dashboard_ae_administrador_textos_template_texto_delete') }}" method="post">
            <input type="hidden" id="idTemplateTexto" name="idTemplateTexto" value="" >
            <div class="modal-content">
                <h4>{{ content['section_text']['sas_eliminarTemplateTexto'] }}</h4>
                <p>{{ content['section_text']['sas_eliminarTemplateTextoAdvertencia'] }} "<b class="template-texto"></b>"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-action modal-close btn-link waves-effect btn-flat left">{{ content['general_text']['sas_cancelar'] }}</button>
                <button type="submit" class="btn waves-effect waves-light red show-loader-wrapper">{{ content['general_text']['sas_eliminar'] }}</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript">
        var url_lang = "{{asset('js/dataTablesLang/' ~ lang ~ '.json')}}";
        var templateTextos = {{ content['templateTexto'] ? content['templateTexto']|json_encode()|raw : '{}' }};
    </script>
    <script type="text/javascript" src="{{ asset(ruta_asset ~ 'js/templateTexto.js') }}"></script>
{% endblock %}