{% extends '::base_dashboard.html.twig' %}
{% set ruta_asset = 'resources/ShowDashboard/DashboardBundle/' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset(ruta_asset ~ 'css/mainDashboard.css') }}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for plataforma in plataformas %}
                <div class="col s12 m6">
                    <a href="{{ plataforma['Ruta'] ? path( plataforma['Ruta']) : "#" }}" 
                       class="card hoverable waves-effect {% if plataforma['Ruta'] %} show-loader-top {% endif %}"
                       >
                        <div class="card-content">
                            <span class="card-title">
                                <div class="chip" style="vertical-align: text-top;">{{ plataforma['Prefijo'] }}</div>
                                {{ plataforma['PlataformaIxpo'] }}
                            </span>
                        </div>
                    </a>
                </div>
            {% else %}
                <div class="col s12 center-align">
                    <h5 class="grey-text">{{ content['general_text']['sas_sinPlataformas'] }} {{ edicion['Edicion_' ~ lang|upper] }}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}