{% extends '::base_dashboard.html.twig' %}
{% set ruta_asset = 'resources/Visitante/ComprasBundle/' %}

{% block stylesheets %}
    {{ parent() }}    
    <link rel="stylesheet" media="screen" href="{{ asset('js/dynamicTable/css/datatables.responsive.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ asset('js/dynamicTable/css/dynamic_table.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/dataTables.materialize.css') }}" media="screen,projection"/>    
    <link type="text/css" rel="stylesheet" href="{{ asset(ruta_asset ~ 'css/compras.css') }}">
{% endblock %}

{% block content %}
    <div id="compras" class="container">
        <div id="slide-list-div" style="margin-top: 20px">
            <div class="row">
                <div id="cover-Compras-table" class="col-xs-12"></div>
            </div>
        </div>
        {#<div class="col s12">
            <div class="fixed-action-btn" style="bottom: 65px; right: 3.6%;">
                <a href="{{ path('compras_report') }}"
                   class="waves-effect green btn" 
                   id=""
                   data-tooltip="Reporte Detalle Compras" 
                   data-position="left" 
                   data-delay="50"><i class="material-icons right">file_download</i>
                    Detalle Compras </a>
            </div>
            <div class="fixed-action-btn-left" style="bottom: 65px;">
                <a class="waves-effect green btn"  id="btnTipoCambio" data-tooltip="Actualizar Tipo de Cambio"  data-position="left"  data-delay="50">
                    Tipo de Cambio
                </a>
            </div>
        </div>#}
    </div>

    {% include 'VisitanteComprasBundle:Compras:modal_tipoCambio.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var lang = {{ content['lang']|json_encode()|raw }},
                url_lang = "{{asset('js/dataTablesLang/' ~ content['lang'] ~ '.json')}}",
                Visitante_table_columns = {{ content['Visitante_table_columns']|json_encode()|raw }},
                Visitante_table_column_categories = {{ content['Visitante_table_column_categories']|json_encode()|raw }};

        var url_compras_get_to_dt = "{{ path("compras_get_to_datatable") }}",
                url_compras_get_to_dt_filtro = "{{ path("compras_get_to_datatable_filtro") }}",
                url_compras_export_data = "{{ path("compras_export_data") }}",
                url_set_session = "{{ path("compras_set_session") }}",
                url_get_session = "{{ path("compras_get_session") }}",
                url_data_compra = "{{ path('compras_resumen') }}",
                img_excel = "{{ asset("images/excel.png") }}";
        {#TipoCambio={{ content['TipoCambio']|json_encode()|raw}};#}
            url_update_tasaCambio = "{{ path("compras_update_tasa_cambio") }}"
    </script>

    <script type="text/javascript" src="{{ asset('js/dynamicTable/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dynamicTable/js/datatables.responsive.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dynamicTable/js/jquery.dataTables.columnFilter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dynamicTable/js/selectFilter.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dynamicTable/js/jquery.dataTables.customFilter.js') }}"></script>         
    <script type="text/javascript" src="{{ asset('js/dynamicTable/js/datatables.js') }}"></script>   
    <script type="text/javascript" src="{{ asset('js/dynamicTable/js/dynamic_table.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/datepickerLang/' ~ content['lang'] ~ '.js') }}"></script>

    <script type="text/javascript" src="{{ asset(ruta_asset ~ 'js/compras.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/additional-methods.js') }}"></script>

{% endblock %}