{% extends '::base_dashboard.html.twig' %}
{% set asset_path = 'resources/ShowDashboard/RS/ArchivosRSBundle/' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset(asset_path ~ 'css/ArchivosRS.css') }}" media="screen,projection"/>
{% endblock %}

{% block content %}
    {% include 'ShowDashboardRSArchivosRSBundle:Default:menu_archivoRS.html.twig' with {ruta:app.request.attributes.get('_route')} %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-content ">
                <form id="texto_archivosRS" enctype="multipart/form-data">
                    <div class="card-panel blue-grey" id="">
                        <span class="card-title white-text center" id="HeaderArchivosVT">{{content['general_text']['sas_SeleccioneArchivo']}}</span>
                    </div>
                    <div class="row">
                        <div class="col s6  input-field">
                            <div class="content-image-preview col s12">
                                <img id="archivo_rsTexto" 
                                     src="{{ asset('images/no-file.png') }}"
                                     alt="Logo" 
                                     class="co-logo"
                                     >
                            </div>
                            <div class="file-field input-field col s12">
                                <div class="btn btn-medium col s12 m3">
                                    <span>Archivo</span>
                                    <input type="file" 
                                           id="fileSelected_rsTexto" 
                                           name="fileSelected_rsTexto"
                                           class="validate"
                                           rel-preview="preview-image-1-es"
                                           >
                                </div>
                                <div class="file-path-wrapper col s12 m9">
                                    <input id="path_rsTexto"
                                           name="path_rsTexto"
                                           class="file-path validate" 
                                           type="text"
                                           >
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="input-field col s6" id="Puerta">
                            <select id="idPuerta" name="idPuerta" class="idPuerta">
                                <option value="" disabled selected>Seleccione opción</option>
                                <option value="10000">Nueva Puerta</option>
                                {% for Puerta in content['Puertas']%}
                                    <option value="{{Puerta['idPuerta']}}"> {{Puerta['NombrePuerta']}}</option>
                                {% endfor%} 
                            </select>
                            <label>Elija puerta</label>
                        </div>
                        <div class="input-field col s6" id="puertaTipo">
                            <select id="idScannerTipo" name="idScannerTipo" class="idScannerTipo">
                                <option value="" disabled selected>Seleccione opción</option>
                                <option value="10000">Nuevo Scanner</option>
                                {% for ScannerTipo in content['ScannerTipo']%}
                                    <option value="{{ScannerTipo['idScannerTipo']}}"> {{ScannerTipo['ScannerTipo']}}</option>
                                {% endfor%} 
                            </select>
                            <label>Tipo de Scanner</label>
                        </div>
                    </div>
                    <div class="row" id="rowPuerta">
                        <div class="input-field col s6 right">
                            <input placeholder="Ingre nombre a asignar" id="NombrePuerta" name="NombrePuerta" type="text" class="validate">
                            <label for="NombrePuerta">Nombre</label>
                        </div>
                    </div>
                    <div class="nav-buttons">
                        <button id="btnSubirArchivo_rsTexto" class="btn waves-effect waves-light green">{{content['general_text']['sas_Subir']}}</button>
                    </div>
                    <div class="nav-buttons">
                        <button id="btnSubirArchivoAPP" class="btn waves-effect waves-light blue">{{content['general_text']['sas_Subir']}} APP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock%}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var insert_archivoTexto_rs
                = "{{path('insert_archivoTexto_rs')}}";
        var asset_path_img = '{{ app.request.getBaseURL() }}';
        var insert_archivoTextoAPP_rs
                = "{{path('insert_archivoTextoAPP_rs')}}";
        var asset_path_img = '{{ app.request.getBaseURL() }}';

    </script>

    <script type="text/javascript" src="{{ asset(asset_path ~ 'js/texto_ArchivoRS.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/additional-methods.js') }}"></script>
{% endblock %}