{% extends '::base_dashboard.html.twig' %}
{% set ruta_asset = 'resources/AdministracionGlobal/ProductoBundle/' %}

{% block stylesheets %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset(ruta_asset ~ 'css/producto.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/dataTables.materialize.css') }}" media="screen,projection"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="col s5 m5 l5">
                <div class="card-panel products-panel">
                    <ul class="collection">
                        {% for pr in content['pr'] %}
                            <li class="collection-item dismissable {% if pr['EstandarIxpo'] == 1 %}grey lighten-4{% endif %}" >
                                <div>
                                    <input disabled id-record="{{ pr['idProductoIxpo'] }}" type="text" class="validate nombre" value="{{pr['ProductoIxpo']}}" {% if pr['EstandarIxpo'] == 1 %}style="margin-left: 68px;"{% endif %}>
                                    {% if pr['EstandarIxpo'] != 1 %}
                                        <a class="secondary-content dropdown-button btn-floating waves-effect waves-light btn-sm blue" data-activates="dropdown{{loop.index}}">
                                            <i class="tiny material-icons">mode_edit</i>
                                        </a>
                                        <ul id="dropdown{{loop.index}}" class="dropdown-content">
                                            <li><a id-record="{{ pr['idProductoIxpo'] }}" class="mode-edit-record">Editar</a></li>
                                            <li><a id-record="{{ pr['idProductoIxpo'] }}" class="duplicate-record">Duplicar</a></li>
                                        </ul>
                                        <a id-record="{{ pr['idProductoIxpo'] }}" style="display:none;" class="secondary-content dropdown-button btn-floating waves-effect waves-light btn-sm green edit-record">
                                            <i class="tiny material-icons">done</i>
                                        </a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="right-align">
                        <a id="add-record" class="btn-floating waves-effect waves-light btn-large green"><i class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
            <div class="col s7 m7 l7">
                <div class="card-panel modules-panel">
                    <div id="modules-overlay" class="grey"></div>
                    <div class="modules-wrapper">
                        {% import 'macro.html' as modulo%}
                        {{ modulo.module_builder(content['md'], 0, lang) }}
                    </div>
                </div>
            </div>
        </div>
    </div>    
    {% include 'AdministracionGlobalProductoBundle:Producto:confirm_producto.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var pr = {{ content['pr']|length ? content['pr']|json_encode()|raw : '{}' }};
        var url_insert = '{{path('producto_nuevo')}}';
        var url_update = '{{path('producto_editar')}}';
        var url_duplicate = '{{path('producto_duplicar')}}';
        var url_lang = "{{asset('js/dataTablesLang/' ~ lang ~ '.json')}}";
    </script>
    <script type="text/javascript" src="{{ asset(ruta_asset ~ 'js/producto.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/dataTables.materialize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/additional-methods.js') }}"></script>
{% endblock %}
